@using System
@using StoryBooks.Features.Identity.Resources.EmailTemplates.UserRegistration

@model UserRegistrationEmailModel

@{
    if (Model == null) throw new ArgumentNullException();
}

<div>
    Hello @Model.Name,
</div>
<div>
    You have joined Story books!
</div>